<section>
    <div class="card">
        <div class="card-header">
            <h2>Perjanjian Lisensi Penggunaan Aplikasi</h2>
        </div>
        <div class="card-body">
            Dengan membeli aplikasi ini berarti anda telah menyetujui syarat yang ada dalam dokumen ini.
            Berikut ini beberapa ketentuan yang harus anda ikuti :
            <h4 class="mt-4">Ijin Penggunaan</h4>
            <hr>
            <ol>
                <li>Anda dapat menggunakan, memasangnya di server atau komputer </li>
                <li>Anda hanya diijinkan untuk memasang di satu instance ( aplikasi ) saja di saat yang sama</li>
                <li>Anda dapat menyimpan salinan di media penyimpanan lain</li>
            </ol>
            
            <h4 class="mt-4">Larangan</h4>
            <hr>
            <ol>
                <li>Anda tidak diijinkan untuk menjual kembali, menyebarluaskan atau menggandakan aplikasi ini tanpa
                    seijin pembuat aplikasi</li>
            </ol>
            <h4 class="mt-4">Catatan</h4>
            <hr>
            <div class="border text-danger p-3">
                Aplikasi ini menggunakan library <a
                    href="https://www.npmjs.com/package/@adiwajshing/baileys">@adiwajshing/baileys</a> yang bukan
                merupakan bagian secara resmi dari whatsapp.
                Jadi kami tidak menjamin semua resiko yang kemungkinan timbul, seperti block, banned dan lain - lain.
            </div>
        </div>
</section>
