<section>
    <div class="card">
        <div class="card-header">
            <h3>Overview</h3>
        </div>
        <div class="card-body">
            <div>
                <img src="/public/assets/images/flow.jpeg" alt="">
            </div>
            <div>
                <strong>easyWA gateway</strong> adalah aplikasi yang dikembangkan dengan tujuan dapat menjadi
                <strong>pintu gerbang / penghubung</strong> antara whatsapp dengan aplikasi kita.
                Dengan menggunakan aplikasi ini, anda dapat menerima pesan dari whatsapp dan kemudian mengolah pesan
                tersebut di aplikasi internal anda yang kemudian dapat memberikan balasan atau jawaban atas pesan yang
                dikirim tersebut secara otomatis.
                <hr>
                <h4>Fitur Utama</h4>
                <ol>
                    <li>Support banyak nomer</li>
                    <li>Support Rest API untuk kirim dan terima pesan</li>
                    <li>Connect dan disconnect whatsapp melalui panel member</li>
                    <li>Setting webhook dan authorization </li>
                    <li>Log pesan masuk</li>                    
                </ol>
            </div>
            <div class="border mt-3 p-2">
                <strong>easyWA gateway</strong> dikembangkan dan dimaintain oleh asligresik untuk support dan konsultasi
                bisa menghubungi saya di nomer <strong>6285733659400</strong> atau <a href="https://wa.me/6285733659400"
                    target="_blank">chat di whatsapp</a>
            </div>
        </div>
        <div class="border text-danger p-3">
            Aplikasi ini menggunakan library <a
                href="https://www.npmjs.com/package/@adiwajshing/baileys">@adiwajshing/baileys</a> yang bukan
            merupakan bagian secara resmi dari whatsapp.
            Jadi kami tidak menjamin semua resiko yang kemungkinan timbul, seperti block, banned dan lain - lain.
        </div>
    </div>
</section>